.container{
    display: flex;
    width: 600px;
    height: 600px;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-flow: row wrap;
    align-content:  space-around;  /* Hay que utilizar un wrap para  */

    background-color: rgb(255, 75, 172);
    padding: 10px;
    border: solid 10px rgb(129, 79, 172);
    border-radius: 10px;
}

.container > div {
    width: 110px;
    background-color: turquoise;
    border: solid 3px  rgb(129, 79, 172);
    border-radius: 10px;
    text-align:  center;
    /* margin: 2px; */
}

.item-1{
    order: 3;
    flex-grow: 1;
}

.item2{
    /* height: 700px; */
    order: 2;
}

.item3{
    /* height: 200px; */
    order:  1;
}

.item4{
    /* height: 150px; */
    order: 0;

}