#titulo {
    color: tomato;
}

p.especial {
    color: mediumaquamarine;
}   

p.texto {
    color: slateblue;
}

div p { 
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size:  24px;
    /* color: black; */
}

.color {
    /* border: 5px black dotted; */
                    /* 
                    dotted: 1px;
                    dashed: 2px;
                    solid: 3px;
                    double: 4px;
                    groove: 5px;
                    ridge: 6px;
                    inset: 7px;
                    outset: 8px;
                    none: 0px;
                    hidden: 0px;
                    */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}

#fondo {
    /* background-color: rgba(255, 0, 0); */
    height: 300px;
    /* background-image: url('imagenes/coffee.png'); */
    /* background-repeat: repeat-y;
    background-position: center top; */
    /* background-size: 100px 100px; */
    
    background: red url('imagenes/coffee.png') repeat-y center top / 100px 100px;
}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
   font-family: 'roboto', sans-serif;
   text-align: center; 
   text-decoration: line-through;
   text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: green;
    text-decoration: underline;
}

ul {
    background-color: aqua;
    list-style-type: circle;
    /* padding-left: 0; */
    /* list-style-position: inside; */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: gray;
    cursor: pointer;
}

span {
    display: block;
    width: 300px;
    background-color: red;
    /* display: none; */
    /* visibility: hidden; */
}

.inline {
    display: inline;
}

#position{
    position: sticky;
    left: 20px;
    top: 20px;
}

.left {
    float: left;
    width: 200px;
    height: 200px;
}

.right{
    float: right;
}

.container {
    height: 200px;
}

.column {
    /* border: solid 1px #ddd;
    border-radius: 5px; */
    margin: 0;
    padding: 10px 0;
    width: 32.3%;
}

.inline-block {
    display: inline-block;
    height: 50px;
    background-color: red;
}

.center {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}